@import '_icon-variables';

@font-face {
	font-family: $font-family;
	src: url('#{$font-family-path}/Roboto-Regular.eot');
	src: url('#{$font-family-path}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$font-family-path}/Roboto-Regular.woff2') format('woff2'),
		url('#{$font-family-path}/Roboto-Regular.woff') format('woff'),
		url('#{$font-family-path}/Roboto-Regular.ttf') format('truetype'),
		url('#{$font-family-path}/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// @font-face {
// 	font-family: $font-family;
// 	src: url('#{$font-family-path}/Roboto-Medium.eot');
// 	src: url('#{$font-family-path}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
// 		url('#{$font-family-path}/Roboto-Medium.woff2') format('woff2'),
// 		url('#{$font-family-path}/Roboto-Medium.woff') format('woff'),
// 		url('#{$font-family-path}/Roboto-Medium.ttf') format('truetype'),
// 		url('#{$font-family-path}/Roboto-Medium.svg#Roboto-Medium') format('svg');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
	font-family: $font-family;
	src: url('#{$font-family-path}/Roboto-Bold.eot');
	src: url('#{$font-family-path}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-family-path}/Roboto-Bold.woff2') format('woff2'),
		url('#{$font-family-path}/Roboto-Bold.woff') format('woff'),
		url('#{$font-family-path}/Roboto-Bold.ttf') format('truetype'),
		url('#{$font-family-path}/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
//
// ../fonts/Font Icon
//
@font-face {
	font-family: '#{$font-icon-family}';
	src: url('../fonts/#{$font-icon-path}/#{$font-icon-file}.eot?7h9xfl');
	src: url('../fonts/#{$font-icon-path}/#{$font-icon-file}.eot?7h9xfl#iefix') format('embedded-opentype'),
		url('../fonts/#{$font-icon-path}/#{$font-icon-file}.ttf?7h9xfl') format('truetype'),
		url('../fonts/#{$font-icon-path}/#{$font-icon-file}.woff?7h9xfl') format('woff'),
		url('../fonts/#{$font-icon-path}/#{$font-icon-file}.svg?7h9xfl##{$font-icon-file}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
    font-family: 'utm';
    src: url('../fonts/../fonts/UTMAvoBold.eot');
    src: url('../fonts/../fonts/UTMAvoBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/UTMAvoBold.woff2') format('woff2'),
        url('../fonts/../fonts/UTMAvoBold.woff') format('woff'),
        url('../fonts/../fonts/UTMAvoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'utm';
    src: url('../fonts/UTMAvo-BoldItalic.eot');
    src: url('../fonts/UTMAvo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMAvo-BoldItalic.woff2') format('woff2'),
        url('../fonts/UTMAvo-BoldItalic.woff') format('woff'),
        url('../fonts/UTMAvo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'utm';
    src: url('../fonts/UTMAvo-Italic.eot');
    src: url('../fonts/UTMAvo-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMAvo-Italic.woff2') format('woff2'),
        url('../fonts/UTMAvo-Italic.woff') format('woff'),
        url('../fonts/UTMAvo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'utm';
    src: url('../fonts/UTMAvo.eot');
    src: url('../fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMAvo.woff2') format('woff2'),
        url('../fonts/UTMAvo.woff') format('woff'),
        url('../fonts/UTMAvo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






[class^='ic-'],
[class*=' ic-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$font-icon-family}' !important;
	// speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better ../fonts/Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before{
		font-family: '#{$font-icon-family}' !important;
	}
}


@each $keys, $content in $icons{
	// @debug $content;
	.ic-#{$keys}{
		&:before{
			content: '#{$content}';
		}
	}
}

$icon-path-color: $gray !default;
$icon-path2-color: $white !default;
